{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer">
 
<div class="footer-top">

<div class="footer-dosed">
    <div class="footer-top-left">
        <h2>Get dosed in your inbox</h2>
        <p>Get cannabis wellness tips, insider interviews, our farm updates and high vibe recipes straight to your
            inbox.</p>
    </div>
    <div class="footer-top-right">
        <div class="klaviyo-form-Wsje5Q"></div>
    </div>
</div>

<div class="white-squiggle">
    <svg width="100%" height="100%" viewBox="0 0 811 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M810.667 0.947754H806.034C797.696 0.947754 793.99 3.08131 790.284 4.68149C787.505 6.28166 784.725 7.34844 781.019 7.34844C777.314 7.34844 773.608 5.74827 769.902 4.68149C765.269 2.54792 761.563 0.947754 756.005 0.947754C751.372 0.947754 747.666 2.54792 743.96 4.1481C740.255 5.74827 735.622 7.34844 730.99 7.34844C727.284 7.34844 724.504 6.28166 721.725 4.68149C718.019 3.08131 714.313 1.48114 706.901 0.947754C699.49 1.48114 696.71 3.08131 693.004 4.68149C690.225 6.28166 687.445 7.34844 683.739 7.34844C680.034 7.34844 676.328 5.74827 672.622 4.68149C667.989 2.54792 663.357 0.947754 657.798 0.947754C653.166 0.947754 649.46 2.54792 645.754 4.1481C642.048 5.74827 637.416 7.34844 632.783 7.34844C629.077 7.34844 626.298 6.28166 623.518 4.68149C620.739 3.08131 617.033 1.48114 608.695 0.947754C601.283 0.947754 597.577 3.08131 594.798 4.68149C592.018 6.28166 589.239 7.34844 585.533 7.34844C581.827 7.34844 578.121 5.74827 574.415 4.68149C569.783 2.54792 566.077 0.947754 559.592 0.947754C554.959 0.947754 551.253 2.54792 547.547 4.1481C543.841 5.74827 539.209 7.34844 534.577 7.34844C530.871 7.34844 528.091 6.28166 525.312 4.68149C522.533 3.08131 518.827 0.947754 510.488 0.947754H505.856C497.518 0.947754 493.812 3.08131 490.106 4.68149C487.326 6.28166 484.547 7.34844 480.841 7.34844C477.135 7.34844 473.429 5.74827 469.723 4.68149C465.091 2.54792 461.385 0.947754 455.826 0.947754C451.194 0.947754 447.488 2.54792 443.782 4.1481C440.076 5.74827 435.444 7.34844 430.811 7.34844C427.106 7.34844 424.326 6.28166 421.547 4.68149C417.841 3.08131 413.208 0.947754 405.797 0.947754C397.458 0.947754 393.752 3.08131 390.973 4.68149C388.194 6.28166 385.414 7.34844 381.708 7.34844C378.002 7.34844 374.296 5.74827 370.59 4.68149C365.032 2.54792 360.399 0.947754 354.84 0.947754C350.208 0.947754 346.502 2.54792 342.796 4.1481C339.09 5.74827 334.458 7.34844 329.826 7.34844C326.12 7.34844 323.34 6.28166 320.561 4.68149C317.781 3.08131 313.149 1.48114 305.737 0.947754C298.325 1.48114 295.546 3.08131 291.84 4.68149C289.061 6.28166 286.281 7.34844 282.575 7.34844C278.869 7.34844 275.163 5.74827 271.458 4.68149C267.752 2.54792 263.119 0.947754 257.56 0.947754C252.928 0.947754 249.222 2.54792 245.516 4.1481C241.81 5.74827 237.178 7.34844 232.546 7.34844C228.84 7.34844 226.06 6.28166 223.281 4.68149C219.575 3.08131 215.869 0.947754 208.457 0.947754C201.045 0.947754 197.339 3.08131 194.56 4.68149C191.781 6.28166 189.001 7.34844 185.295 7.34844C181.589 7.34844 177.883 5.74827 174.178 4.68149C169.545 2.54792 164.913 0.947754 159.354 0.947754C154.722 0.947754 151.016 2.54792 147.31 4.1481C143.604 5.74827 138.971 7.34844 134.339 7.34844C130.633 7.34844 127.854 6.28166 125.074 4.68149C121.368 3.08131 117.662 0.947754 110.251 0.947754H105.618C96.3535 0.947754 92.6476 3.08131 89.8682 4.68149C87.0888 6.28166 84.3093 7.34844 80.6034 7.34844C76.8975 7.34844 73.1916 5.74827 69.4857 4.68149C64.8533 2.54792 60.221 0.947754 54.6621 0.947754C50.0297 0.947754 46.3238 2.54792 42.6179 4.1481C37.9855 5.74827 34.2796 7.34844 29.6472 7.34844C25.9413 7.34844 23.1619 6.28166 20.3825 4.68149C16.6766 3.08131 12.9707 0.947754 3.7059 0.947754L0 1.48114V3.08132L3.7059 2.54792C11.1177 2.54792 14.8236 4.1481 18.5295 5.74827C21.309 7.34844 24.0884 8.41522 28.7208 8.41522C34.2796 8.41522 38.912 6.81505 43.5444 5.21488C47.2503 3.61471 50.9562 2.54792 54.6621 2.54792C59.2945 2.54792 63.9269 4.1481 67.6328 5.74827C71.3387 7.34844 75.0446 8.94861 79.677 8.94861C85.2358 8.94861 88.0152 7.34844 90.7947 5.74827C93.5741 4.1481 97.28 2.54792 104.692 2.54792H108.398C115.81 2.54792 119.515 4.1481 123.221 5.74827C126.001 7.34844 128.78 8.41522 133.413 8.41522C138.971 8.41522 143.604 6.81505 148.236 5.21488C151.942 3.61471 155.648 2.54792 159.354 2.54792C163.986 2.54792 168.619 4.1481 172.325 5.74827C176.03 7.34844 179.736 8.94861 184.369 8.94861C189.928 8.94861 192.707 7.34844 195.486 5.74827C198.266 4.1481 201.972 2.54792 207.531 2.54792C214.016 2.54792 217.722 4.1481 220.501 5.74827C223.281 7.34844 226.06 8.41522 230.693 8.41522C236.251 8.41522 240.884 6.81505 245.516 5.21488C249.222 3.61471 252.928 2.54792 256.634 2.54792C261.266 2.54792 265.899 4.1481 269.605 5.74827C273.31 7.34844 277.016 8.94861 281.649 8.94861C287.208 8.94861 289.987 7.34844 292.766 5.74827C295.546 4.1481 298.325 2.54792 304.811 2.54792C311.296 2.54792 315.002 4.1481 317.781 5.74827C320.561 7.34844 323.34 8.41522 327.973 8.41522C333.531 8.41522 338.164 6.81505 342.796 5.21488C346.502 3.61471 350.208 2.54792 353.914 2.54792C358.546 2.54792 363.179 4.1481 366.885 5.74827C370.59 7.34844 374.296 8.94861 378.929 8.94861C384.488 8.94861 387.267 7.34844 390.046 5.74827C392.826 4.1481 396.532 2.54792 403.944 2.54792C411.355 2.54792 415.061 4.1481 418.767 5.74827C421.547 7.34844 424.326 8.41522 428.958 8.41522C434.517 8.41522 439.15 6.81505 443.782 5.21488C447.488 3.61471 451.194 2.54792 454.9 2.54792C459.532 2.54792 464.165 4.1481 467.87 5.74827C471.576 7.34844 475.282 8.94861 479.915 8.94861C485.474 8.94861 488.253 7.34844 491.032 5.74827C493.812 4.1481 497.518 2.54792 504.93 2.54792H509.562C516.974 2.54792 520.68 4.1481 524.385 5.74827C527.165 7.34844 529.944 8.41522 534.577 8.41522C540.136 8.41522 544.768 6.81505 549.4 5.21488C553.106 3.61471 556.812 2.54792 560.518 2.54792C565.15 2.54792 569.783 4.1481 573.489 5.74827C577.195 7.34844 580.901 8.94861 585.533 8.94861C591.092 8.94861 593.871 7.34844 596.651 5.74827C599.43 4.1481 603.136 2.54792 608.695 2.54792C615.18 2.54792 618.886 4.1481 621.666 5.74827C624.445 7.34844 627.224 8.41522 631.857 8.41522C637.416 8.41522 642.048 6.81505 646.68 5.21488C650.386 3.61471 654.092 2.54792 657.798 2.54792C662.43 2.54792 667.063 4.1481 670.769 5.74827C674.475 7.34844 678.181 8.94861 682.813 8.94861C688.372 8.94861 691.151 7.34844 693.931 5.74827C696.71 4.1481 699.49 2.54792 705.975 2.54792C712.46 2.54792 716.166 4.1481 718.945 5.74827C721.725 7.34844 724.504 8.41522 729.137 8.41522C734.696 8.41522 739.328 6.81505 743.96 5.21488C747.666 3.61471 751.372 2.54792 755.078 2.54792C759.71 2.54792 764.343 4.1481 768.049 5.74827C771.755 7.34844 775.461 8.94861 780.093 8.94861C785.652 8.94861 788.431 7.34844 791.211 5.74827C793.99 4.1481 797.696 2.54792 805.108 2.54792H809.74L810.667 0.947754Z"
            fill="#EAE5CC" />
    </svg>
</div>



<div class="footer-links">
    <div class="first-footer">
        <h4>MENU</h4>
        <ul>
            <li><a href="/collections/all">Shop</a></li>
            <li><a href="/pages/about-soul-addict">About</a></li>
            <li><a href="/pages/contact">Contact</a></li>
            <li><a href="/pages/contact">Wholesale</a></li>

        </ul>
    </div>
    <div class="second-footer">
        <h4>SUPPORT</h4>
        <ul>
            <li><a href="/pages/FAQ">FAQ</a></li>
            <li><a href="/policies/shipping-policy">Shipping & Returns</a></li>
            <li><a href="/pages/contact">Contact us</a></li>
            <li><a href="/policies/terms-of-service">Terms of Service</a></li>
            <li><a href="/policies/privacy-policy">Privacy Policy</a></li>

        </ul>
    </div>
    <div class="third-footer">
        <h4>SAY HELLO</h4>
        <ul>
            <li><a href="https://www.instagram.com/souladdict.co/"><h3>Instagram →</h3></a></li>
           <li><a href="https://www.pinterest.com/souladdictcbd/"><h3>Pinterest →</h3></a></li>
          <li><a href="mailto:hello@souladdict.co"><h3>Email →</h3></a></li>
        </ul>
    </div>
</div>

<div class="white-squiggle">
    <svg width="100%" height="100%" viewBox="0 0 811 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M810.667 0.947754H806.034C797.696 0.947754 793.99 3.08131 790.284 4.68149C787.505 6.28166 784.725 7.34844 781.019 7.34844C777.314 7.34844 773.608 5.74827 769.902 4.68149C765.269 2.54792 761.563 0.947754 756.005 0.947754C751.372 0.947754 747.666 2.54792 743.96 4.1481C740.255 5.74827 735.622 7.34844 730.99 7.34844C727.284 7.34844 724.504 6.28166 721.725 4.68149C718.019 3.08131 714.313 1.48114 706.901 0.947754C699.49 1.48114 696.71 3.08131 693.004 4.68149C690.225 6.28166 687.445 7.34844 683.739 7.34844C680.034 7.34844 676.328 5.74827 672.622 4.68149C667.989 2.54792 663.357 0.947754 657.798 0.947754C653.166 0.947754 649.46 2.54792 645.754 4.1481C642.048 5.74827 637.416 7.34844 632.783 7.34844C629.077 7.34844 626.298 6.28166 623.518 4.68149C620.739 3.08131 617.033 1.48114 608.695 0.947754C601.283 0.947754 597.577 3.08131 594.798 4.68149C592.018 6.28166 589.239 7.34844 585.533 7.34844C581.827 7.34844 578.121 5.74827 574.415 4.68149C569.783 2.54792 566.077 0.947754 559.592 0.947754C554.959 0.947754 551.253 2.54792 547.547 4.1481C543.841 5.74827 539.209 7.34844 534.577 7.34844C530.871 7.34844 528.091 6.28166 525.312 4.68149C522.533 3.08131 518.827 0.947754 510.488 0.947754H505.856C497.518 0.947754 493.812 3.08131 490.106 4.68149C487.326 6.28166 484.547 7.34844 480.841 7.34844C477.135 7.34844 473.429 5.74827 469.723 4.68149C465.091 2.54792 461.385 0.947754 455.826 0.947754C451.194 0.947754 447.488 2.54792 443.782 4.1481C440.076 5.74827 435.444 7.34844 430.811 7.34844C427.106 7.34844 424.326 6.28166 421.547 4.68149C417.841 3.08131 413.208 0.947754 405.797 0.947754C397.458 0.947754 393.752 3.08131 390.973 4.68149C388.194 6.28166 385.414 7.34844 381.708 7.34844C378.002 7.34844 374.296 5.74827 370.59 4.68149C365.032 2.54792 360.399 0.947754 354.84 0.947754C350.208 0.947754 346.502 2.54792 342.796 4.1481C339.09 5.74827 334.458 7.34844 329.826 7.34844C326.12 7.34844 323.34 6.28166 320.561 4.68149C317.781 3.08131 313.149 1.48114 305.737 0.947754C298.325 1.48114 295.546 3.08131 291.84 4.68149C289.061 6.28166 286.281 7.34844 282.575 7.34844C278.869 7.34844 275.163 5.74827 271.458 4.68149C267.752 2.54792 263.119 0.947754 257.56 0.947754C252.928 0.947754 249.222 2.54792 245.516 4.1481C241.81 5.74827 237.178 7.34844 232.546 7.34844C228.84 7.34844 226.06 6.28166 223.281 4.68149C219.575 3.08131 215.869 0.947754 208.457 0.947754C201.045 0.947754 197.339 3.08131 194.56 4.68149C191.781 6.28166 189.001 7.34844 185.295 7.34844C181.589 7.34844 177.883 5.74827 174.178 4.68149C169.545 2.54792 164.913 0.947754 159.354 0.947754C154.722 0.947754 151.016 2.54792 147.31 4.1481C143.604 5.74827 138.971 7.34844 134.339 7.34844C130.633 7.34844 127.854 6.28166 125.074 4.68149C121.368 3.08131 117.662 0.947754 110.251 0.947754H105.618C96.3535 0.947754 92.6476 3.08131 89.8682 4.68149C87.0888 6.28166 84.3093 7.34844 80.6034 7.34844C76.8975 7.34844 73.1916 5.74827 69.4857 4.68149C64.8533 2.54792 60.221 0.947754 54.6621 0.947754C50.0297 0.947754 46.3238 2.54792 42.6179 4.1481C37.9855 5.74827 34.2796 7.34844 29.6472 7.34844C25.9413 7.34844 23.1619 6.28166 20.3825 4.68149C16.6766 3.08131 12.9707 0.947754 3.7059 0.947754L0 1.48114V3.08132L3.7059 2.54792C11.1177 2.54792 14.8236 4.1481 18.5295 5.74827C21.309 7.34844 24.0884 8.41522 28.7208 8.41522C34.2796 8.41522 38.912 6.81505 43.5444 5.21488C47.2503 3.61471 50.9562 2.54792 54.6621 2.54792C59.2945 2.54792 63.9269 4.1481 67.6328 5.74827C71.3387 7.34844 75.0446 8.94861 79.677 8.94861C85.2358 8.94861 88.0152 7.34844 90.7947 5.74827C93.5741 4.1481 97.28 2.54792 104.692 2.54792H108.398C115.81 2.54792 119.515 4.1481 123.221 5.74827C126.001 7.34844 128.78 8.41522 133.413 8.41522C138.971 8.41522 143.604 6.81505 148.236 5.21488C151.942 3.61471 155.648 2.54792 159.354 2.54792C163.986 2.54792 168.619 4.1481 172.325 5.74827C176.03 7.34844 179.736 8.94861 184.369 8.94861C189.928 8.94861 192.707 7.34844 195.486 5.74827C198.266 4.1481 201.972 2.54792 207.531 2.54792C214.016 2.54792 217.722 4.1481 220.501 5.74827C223.281 7.34844 226.06 8.41522 230.693 8.41522C236.251 8.41522 240.884 6.81505 245.516 5.21488C249.222 3.61471 252.928 2.54792 256.634 2.54792C261.266 2.54792 265.899 4.1481 269.605 5.74827C273.31 7.34844 277.016 8.94861 281.649 8.94861C287.208 8.94861 289.987 7.34844 292.766 5.74827C295.546 4.1481 298.325 2.54792 304.811 2.54792C311.296 2.54792 315.002 4.1481 317.781 5.74827C320.561 7.34844 323.34 8.41522 327.973 8.41522C333.531 8.41522 338.164 6.81505 342.796 5.21488C346.502 3.61471 350.208 2.54792 353.914 2.54792C358.546 2.54792 363.179 4.1481 366.885 5.74827C370.59 7.34844 374.296 8.94861 378.929 8.94861C384.488 8.94861 387.267 7.34844 390.046 5.74827C392.826 4.1481 396.532 2.54792 403.944 2.54792C411.355 2.54792 415.061 4.1481 418.767 5.74827C421.547 7.34844 424.326 8.41522 428.958 8.41522C434.517 8.41522 439.15 6.81505 443.782 5.21488C447.488 3.61471 451.194 2.54792 454.9 2.54792C459.532 2.54792 464.165 4.1481 467.87 5.74827C471.576 7.34844 475.282 8.94861 479.915 8.94861C485.474 8.94861 488.253 7.34844 491.032 5.74827C493.812 4.1481 497.518 2.54792 504.93 2.54792H509.562C516.974 2.54792 520.68 4.1481 524.385 5.74827C527.165 7.34844 529.944 8.41522 534.577 8.41522C540.136 8.41522 544.768 6.81505 549.4 5.21488C553.106 3.61471 556.812 2.54792 560.518 2.54792C565.15 2.54792 569.783 4.1481 573.489 5.74827C577.195 7.34844 580.901 8.94861 585.533 8.94861C591.092 8.94861 593.871 7.34844 596.651 5.74827C599.43 4.1481 603.136 2.54792 608.695 2.54792C615.18 2.54792 618.886 4.1481 621.666 5.74827C624.445 7.34844 627.224 8.41522 631.857 8.41522C637.416 8.41522 642.048 6.81505 646.68 5.21488C650.386 3.61471 654.092 2.54792 657.798 2.54792C662.43 2.54792 667.063 4.1481 670.769 5.74827C674.475 7.34844 678.181 8.94861 682.813 8.94861C688.372 8.94861 691.151 7.34844 693.931 5.74827C696.71 4.1481 699.49 2.54792 705.975 2.54792C712.46 2.54792 716.166 4.1481 718.945 5.74827C721.725 7.34844 724.504 8.41522 729.137 8.41522C734.696 8.41522 739.328 6.81505 743.96 5.21488C747.666 3.61471 751.372 2.54792 755.078 2.54792C759.71 2.54792 764.343 4.1481 768.049 5.74827C771.755 7.34844 775.461 8.94861 780.093 8.94861C785.652 8.94861 788.431 7.34844 791.211 5.74827C793.99 4.1481 797.696 2.54792 805.108 2.54792H809.74L810.667 0.947754Z"
            fill="#EAE5CC" />
    </svg>
</div>

<div class="extra-text">
    <div class="extra-left">
        <p>These products are not for use by or sale to persons under the age of 18. These statements have not been
            evaluated by the Food & Drug Administration (FDA). This product is not intended to diagnose, treat, cure
            or prevent any disease.</p>
    </div>
    <div class="extra-right">
        <p>Copyright © 2024 Soul Addict.<br />
            All Rights Reserved</p>
    </div>
</div>

</div>
 
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
